USE [WebPheLieu]
GO
/****** Object:  Table [dbo].[admins]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [varchar](30) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banner_images]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[banner_id] [int] NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[caption] [nvarchar](255) NULL,
	[order_index] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banners]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[subtitle] [nvarchar](max) NULL,
	[sell_text] [nvarchar](255) NULL,
	[button_primary_text] [nvarchar](100) NULL,
	[button_primary_link] [varchar](500) NULL,
	[button_secondary_text] [nvarchar](100) NULL,
	[button_secondary_link] [varchar](500) NULL,
	[order_index] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_categories]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_images]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blog_id] [int] NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[caption] [nvarchar](255) NULL,
	[order_index] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_post_categories]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_post_categories](
	[post_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [PK_blog_post_categories] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_post_products]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_post_products](
	[post_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_blog_post_products] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_posts]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[excerpt] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[cover_image] [varchar](500) NULL,
	[author_id] [int] NULL,
	[published_at] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact_requests]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [varchar](100) NULL,
	[request_type] [varchar](30) NOT NULL,
	[area] [nvarchar](100) NULL,
	[message] [nvarchar](max) NULL,
	[source_page] [varchar](500) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_history]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[price_value] [decimal](18, 2) NULL,
	[price_unit] [nvarchar](50) NULL,
	[price_type] [varchar](20) NOT NULL,
	[note] [nvarchar](255) NULL,
	[effective_date] [date] NOT NULL,
	[recorded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_categories]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [varchar](500) NOT NULL,
	[caption] [nvarchar](255) NULL,
	[order_index] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[short_description] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[category_id] [int] NOT NULL,
	[price_value] [decimal](18, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[price_label] [nvarchar](255) NULL,
	[primary_image] [varchar](500) NULL,
	[status] [varchar](20) NOT NULL,
	[is_featured] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[site_settings]    Script Date: 29/03/2026 21:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [nvarchar](max) NULL,
	[setting_group] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blog_categories] ON 

INSERT [dbo].[blog_categories] ([id], [name], [slug], [description], [created_at], [updated_at]) VALUES (1, N'Dịch vụ', N'dich-vu', N'Các bài viết liên quan đến dịch vụ thu mua phế liệu', CAST(N'2026-03-26T21:28:03.923' AS DateTime), CAST(N'2026-03-26T21:28:03.923' AS DateTime))
INSERT [dbo].[blog_categories] ([id], [name], [slug], [description], [created_at], [updated_at]) VALUES (2, N'Kinh nghiệm', N'kinh-nghiem', N'Chia sẻ kinh nghiệm thu mua, phân loại và bán phế liệu hiệu quả', CAST(N'2026-03-26T22:03:11.053' AS DateTime), CAST(N'2026-03-26T22:03:11.053' AS DateTime))
INSERT [dbo].[blog_categories] ([id], [name], [slug], [description], [created_at], [updated_at]) VALUES (3, N'Cảnh báo', N'canh-bao', N'Cảnh báo lừa đảo, rủi ro và những điều cần tránh khi bán phế liệu', CAST(N'2026-03-26T22:03:11.053' AS DateTime), CAST(N'2026-03-26T22:03:11.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[blog_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[blog_images] ON 

INSERT [dbo].[blog_images] ([id], [blog_id], [image_url], [caption], [order_index]) VALUES (1, 2, N'/assets/images/blogs/service/dichvumuatannoi1.jpg', N'Ảnh bài dịch vụ Dịch vụ bốc xếp và vận chuyển phế liệu tận nơi chuyên nghiệp - 1', 1)
INSERT [dbo].[blog_images] ([id], [blog_id], [image_url], [caption], [order_index]) VALUES (2, 2, N'/assets/images/blogs/service/dichvumuatannoi2.jpg', N'Ảnh bài dịch vụ Dịch vụ bốc xếp và vận chuyển phế liệu tận nơi chuyên nghiệp - 2', 2)
INSERT [dbo].[blog_images] ([id], [blog_id], [image_url], [caption], [order_index]) VALUES (3, 2, N'/assets/images/blogs/service/dichvumuatannoi3.jpg', N'Ảnh bài dịch vụ Dịch vụ bốc xếp và vận chuyển phế liệu tận nơi chuyên nghiệp - 3', 3)
SET IDENTITY_INSERT [dbo].[blog_images] OFF
GO
INSERT [dbo].[blog_post_categories] ([post_id], [category_id]) VALUES (2, 1)
INSERT [dbo].[blog_post_categories] ([post_id], [category_id]) VALUES (3, 1)
INSERT [dbo].[blog_post_categories] ([post_id], [category_id]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[blog_posts] ON 

SET IDENTITY_INSERT [dbo].[blog_posts] OFF
GO
SET IDENTITY_INSERT [dbo].[product_categories] ON 

INSERT [dbo].[product_categories] ([id], [name], [slug], [description], [created_at], [updated_at]) VALUES (1, N'Phế liệu sắt', N'phe-lieu-sat', N'Danh mục phế liệu sắt bao gồm sắt vụn, sắt công trình, sắt công nghiệp. Chúng tôi thu mua phế liệu sắt với giá cao, cập nhật theo thị trường mỗi ngày.', CAST(N'2026-03-26T10:33:10.667' AS DateTime), CAST(N'2026-03-26T10:33:10.667' AS DateTime))
INSERT [dbo].[product_categories] ([id], [name], [slug], [description], [created_at], [updated_at]) VALUES (2, N'Phế liệu đồng', N'phe-lieu-dong', N'Phế liệu đồng gồm đồng đỏ, đồng vàng, dây điện, cáp điện. Giá thu mua đồng luôn ở mức cao do nhu cầu tái chế lớn.', CAST(N'2026-03-26T10:33:10.667' AS DateTime), CAST(N'2026-03-26T10:33:10.667' AS DateTime))
INSERT [dbo].[product_categories] ([id], [name], [slug], [description], [created_at], [updated_at]) VALUES (3, N'Phế liệu nhôm', N'phe-lieu-nhom', N'Nhôm phế liệu như nhôm định hình, nhôm vụn, nhôm công nghiệp được thu mua với giá tốt, hỗ trợ tận nơi.', CAST(N'2026-03-26T10:33:10.667' AS DateTime), CAST(N'2026-03-26T10:33:10.667' AS DateTime))
SET IDENTITY_INSERT [dbo].[product_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([id], [product_id], [image_url], [caption], [order_index]) VALUES (1, 1, N'~/assets/images/products/dongdo1.jpg', N'Thu mua đồng đỏ', 1)
INSERT [dbo].[product_images] ([id], [product_id], [image_url], [caption], [order_index]) VALUES (2, 1, N'~/assets/images/products/dongdo2.jpg', N'Thu mua đồng đỏ', 2)
INSERT [dbo].[product_images] ([id], [product_id], [image_url], [caption], [order_index]) VALUES (3, 1, N'~/assets/images/products/dongdo3.jpg', N'Thu mua đồng đỏ', 3)
SET IDENTITY_INSERT [dbo].[product_images] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__admins__F3DBC572885F4DBE]    Script Date: 29/03/2026 21:45:31 ******/
ALTER TABLE [dbo].[admins] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__blog_cat__32DD1E4C3DCA645C]    Script Date: 29/03/2026 21:45:31 ******/
ALTER TABLE [dbo].[blog_categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__blog_pos__32DD1E4C39536978]    Script Date: 29/03/2026 21:45:31 ******/
ALTER TABLE [dbo].[blog_posts] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product___32DD1E4C1509751B]    Script Date: 29/03/2026 21:45:31 ******/
ALTER TABLE [dbo].[product_categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__32DD1E4CECE7660B]    Script Date: 29/03/2026 21:45:31 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__site_set__0DFAC4272D5D2F0F]    Script Date: 29/03/2026 21:45:31 ******/
ALTER TABLE [dbo].[site_settings] ADD UNIQUE NONCLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('staff') FOR [role]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[admins] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner_images] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[banners] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[blog_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[blog_images] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[blog_posts] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[blog_posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog_posts] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[contact_requests] ADD  DEFAULT ('tu_van') FOR [request_type]
GO
ALTER TABLE [dbo].[contact_requests] ADD  DEFAULT ('new') FOR [status]
GO
ALTER TABLE [dbo].[contact_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contact_requests] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT ('fixed') FOR [price_type]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[product_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[product_images] ADD  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_featured]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[site_settings] ADD  DEFAULT ('general') FOR [setting_group]
GO
ALTER TABLE [dbo].[site_settings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[banner_images]  WITH CHECK ADD  CONSTRAINT [FK_banner_images_banners] FOREIGN KEY([banner_id])
REFERENCES [dbo].[banners] ([id])
GO
ALTER TABLE [dbo].[banner_images] CHECK CONSTRAINT [FK_banner_images_banners]
GO
ALTER TABLE [dbo].[blog_images]  WITH CHECK ADD  CONSTRAINT [FK_blog_images_blog_posts] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog_posts] ([id])
GO
ALTER TABLE [dbo].[blog_images] CHECK CONSTRAINT [FK_blog_images_blog_posts]
GO
ALTER TABLE [dbo].[blog_post_categories]  WITH CHECK ADD  CONSTRAINT [FK_blog_post_categories_blog_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[blog_categories] ([id])
GO
ALTER TABLE [dbo].[blog_post_categories] CHECK CONSTRAINT [FK_blog_post_categories_blog_categories]
GO
ALTER TABLE [dbo].[blog_post_categories]  WITH CHECK ADD  CONSTRAINT [FK_blog_post_categories_blog_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[blog_posts] ([id])
GO
ALTER TABLE [dbo].[blog_post_categories] CHECK CONSTRAINT [FK_blog_post_categories_blog_posts]
GO
ALTER TABLE [dbo].[blog_post_products]  WITH CHECK ADD  CONSTRAINT [FK_blog_post_products_blog_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[blog_posts] ([id])
GO
ALTER TABLE [dbo].[blog_post_products] CHECK CONSTRAINT [FK_blog_post_products_blog_posts]
GO
ALTER TABLE [dbo].[blog_post_products]  WITH CHECK ADD  CONSTRAINT [FK_blog_post_products_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[blog_post_products] CHECK CONSTRAINT [FK_blog_post_products_products]
GO
ALTER TABLE [dbo].[blog_posts]  WITH CHECK ADD  CONSTRAINT [FK_blog_posts_admins] FOREIGN KEY([author_id])
REFERENCES [dbo].[admins] ([id])
GO
ALTER TABLE [dbo].[blog_posts] CHECK CONSTRAINT [FK_blog_posts_admins]
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [FK_price_history_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [FK_price_history_products]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_products]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_product_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[product_categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_product_categories]
GO
